@using HSpider.Web.Models
@model IEnumerable<Comic>
@{
    ViewData["Title"] = "Spider";
}

<div>
    <form>
        
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Date</th>
                <th>Down</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
            <tr>
                <td>@data.Id</td>
                <td>@data.Name</td>
                <td>@data.Url</td>
                <td>@data.GrabDate</td>
                <td>@data.Downloaded</td>
            </tr>
            }
        </tbody>
    </table>
</div>
    

